html {
    min-height:100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin:0;
    height:100vh;
    overflow:hidden;
    display:grid;
    grid-template-columns: 25vw 50vw 25vw;
}

#title {
    text-align: center;
    font-size: 24pt;
    color: white;    
}

#bg {
    position:fixed;
    inset:-15px;
    background-image:url(files/HNI_0017e.jpg);
    background-position:center;
    background-size:cover;
    filter:blur(5px) brightness(0.5);
    z-index:-99;
}

#info {
    position:absolute;
    top:0;
    right:15px;
    text-align:right;
    color:rgba(255, 255, 255, 0.4);
    margin:0 auto;
}

#about {
    position: static;
    width: 100%;
    color: white;
    font-size: 18pt;
    align-self: flex-start;
    overflow-y: auto;
    flex: 1; 
    scrollbar-width: none;
    margin:0;
}

#copyright {
    font-size:18px;
}

#updated {
    font-size:14px;
}

#centerpanel {
    display: flex;
    grid-column: 2;
    position: relative;
    margin: 15px;
    box-sizing: border-box;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 30px);
    overflow: hidden;
    text-align:center;
}

#leftPanel {
    position:sticky;
    position:relative;
    grid-column:1;
    left: 0;
    top: 0;
    height: calc(100vh - 30px);
    margin: 15px 15px 15px 15px;
    box-sizing: border-box;
    border: 10px dashed rgba(255,255,255,0.2);
}

#submittedMovies {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    color: white;
    padding: 0 15px;
    font-size: 36px;
    overflow: hidden;
}

#submittedMovies h2 {
    flex-shrink: 0;
    margin:0;
    margin-top: 30px;
    margin-left: 15px;
}

#actualTitles {
    font-size: 24px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    flex: 1;
    mask-image: linear-gradient(
        to bottom,
        transparent 0px,
        black 10px,
        black calc(100% - 20px),
        transparent 100%
    );
}

#actualTitles p {
    margin:0;
    padding: 8px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

#rightPanel {
    position:sticky;
    position:relative;
    grid-column:3;
    right: 0;
    top: 0;
    height: calc(100vh - 30px);
    margin: 15px 15px 15px 15px;
    box-sizing: border-box;
    border: 10px dashed rgba(255,255,255,0.2);
}